/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Nextflow config file for running minimal tests
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Defines input files and everything required to run a fast and simple pipeline test.

    Use as follows:
        nextflow run nf-core/nottocode -profile test,<docker/singularity> --outdir <OUTDIR>

----------------------------------------------------------------------------------------
*/

params {
    config_profile_name        = 'Test profile'
    config_profile_description = 'Minimal test dataset to check pipeline function'

    // Limit resources so that this can run on GitHub Actions
    max_cpus   = 2
    max_memory = '6.GB'
    max_time   = '6.h'

    // Input data
    // test_samplesheet.csv aponta para GTF sintético no formato StringTie (com linhas transcript + TPM)
    // Transcritos em região intergênica chr22:10682-18724 (8042 bp) - suficiente para TransDecoder/CPC2/PLEK
    input            = "${projectDir}/assets/test_samplesheet.csv"

    // Genome references: homo_sapiens chr22 test fragment (40000 bp)
    // Usando o mesmo GTF como reference_gff pois o genome.gff3 do nf-core usa coordenadas
    // absolutas do chr22 real (~16M bp) incompatíveis com o FASTA de teste (1-40000 bp)
    reference_genome = "https://raw.githubusercontent.com/nf-core/test-datasets/modules/data/genomics/homo_sapiens/genome/genome.fasta"
    reference_gtf    = "https://raw.githubusercontent.com/nf-core/test-datasets/modules/data/genomics/homo_sapiens/genome/genome.gtf"
    reference_gff    = "https://raw.githubusercontent.com/nf-core/test-datasets/modules/data/genomics/homo_sapiens/genome/genome.gtf"

    // Functional annotation
    pfam_db          = "https://raw.githubusercontent.com/nf-core/test-datasets/modules/data/genomics/homo_sapiens/genome/test_starfusion_dfam.hmm"

    // TPM filtering: manter habilitado com threshold baixo para testar o módulo GTF_FILTER_TPM
    // Todos os transcritos de teste têm TPM >= 2.5 (passa pelo filtro 0.1 e pelo merge -T 1)
    filter_by_tpm    = true
    tpm_threshold    = 0.1

}
